ABOUT BITMAP "gui/img/about.bmp"
CONTROLLERS1 BITMAP "gui/img/controllers1.bmp"
CONTROLLERS2 BITMAP "gui/img/controllers2.bmp"
EFFECTS BITMAP "gui/img/effects.bmp"
ENVELOPES BITMAP "gui/img/envelopes.bmp"
KNOBSTATESCONTROLLED BITMAP "gui/img/knob_states-controlled.bmp"
KNOBSTATESFREE BITMAP "gui/img/knob_states-free.bmp"
KNOBSTATESNONE BITMAP "gui/img/knob_states-none.bmp"
LFOS BITMAP "gui/img/lfos.bmp"
SCREWSTATES BITMAP "gui/img/screw_states.bmp"
SCREWSTATESSYNCED BITMAP "gui/img/screw_states_synced.bmp"
SYNTH BITMAP "gui/img/synth.bmp"
VSTLOGO BITMAP "gui/img/vst_logo.bmp"
