ABOUT BITMAP "gui/img/about.bmp"
EFFECTS BITMAP "gui/img/effects.bmp"
ENVELOPES1 BITMAP "gui/img/envelopes1.bmp"
ENVELOPES2 BITMAP "gui/img/envelopes2.bmp"
ENVSHAPES01 BITMAP "gui/img/env_shapes-01.bmp"
ENVSHAPES10 BITMAP "gui/img/env_shapes-10.bmp"
KNOBSTATESCONTROLLED BITMAP "gui/img/knob_states-controlled.bmp"
KNOBSTATESFREE BITMAP "gui/img/knob_states-free.bmp"
KNOBSTATESNONE BITMAP "gui/img/knob_states-none.bmp"
LFOS BITMAP "gui/img/lfos.bmp"
MACROS1 BITMAP "gui/img/macros1.bmp"
MACROS2 BITMAP "gui/img/macros2.bmp"
SCREWSTATES BITMAP "gui/img/screw_states.bmp"
SCREWSTATESSYNCED BITMAP "gui/img/screw_states_synced.bmp"
SYNTH BITMAP "gui/img/synth.bmp"
VSTLOGO BITMAP "gui/img/vst_logo.bmp"
