ABOUT BITMAP "gui/bmp/about.bmp"
CONTROLLERS BITMAP "gui/bmp/controllers.bmp"
EFFECTS BITMAP "gui/bmp/effects.bmp"
ENVELOPES BITMAP "gui/bmp/envelopes.bmp"
KNOBSTATES BITMAP "gui/bmp/knob_states.bmp"
KNOBSTATESINACTIVE BITMAP "gui/bmp/knob_states_inactive.bmp"
LFOS BITMAP "gui/bmp/lfos.bmp"
SYNTH BITMAP "gui/bmp/synth.bmp"
VSTLOGO BITMAP "gui/bmp/vst_logo.bmp"
